<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Clientes</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <script src=''></script>
</head>
<body>
        <div class="container">
            <div class="row">
                    <h1>Gestion Clientes</h1>
            </div>
            
                    <br>
                <div class="row">
                     
                        <form class="form-inline">
                                <div class="form-group mx-sm-3 mb-2">
                                        <label for="nit">Nit: </label>
                                        <input type="number" class="form-control" id="nit" aria-describedby="IngresoNit" placeholder="900123456">
                                        <small id="IngresoNit" class="form-text text-muted">Ingrese Nit a buscar sin puntos ni digito de verificacion</small>
                                    </div>
                                
                                <button type="submit" class="btn btn-primary mb-4">Buscar</button>
                              </form>
                   

                
                </div>           
        </div>
</body>
</html>

